body {
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

from {box-shadow: 1px 1px 38px red;}
to {box-shadow: 1px 1px 38px yellow;}

}